<main class="main-genres">

  <form action="/genres" method="POST">
    <div class="genres-container">
      <div class="genre-container g1">
        <input type="checkbox" name="genres" id="afro" value="afro">
        <label for="afro">Afro</label>
      </div>

      <div class="genre-container g2">
        <input type="checkbox" name="genres" id="blues" value="blues">
        <label for="blues">Blues</label>
      </div>

      <div class="genre-container g3">
        <input type="checkbox" name="genres" id="rock" value="rock">
        <label for="rock">Rock</label>
      </div>

      <div class="genre-container g5">
        <input type="checkbox" name="genres" id="classical" value="classical">
        <label for="classical">Classical</label>
      </div>

      <div class="genre-container g6">
        <input type="checkbox" name="genres" id="country" value="country">
        <label for="country">Country</label>
      </div>

      <div class="genre-container g7">
        <input type="checkbox" name="genres" id="dancehall" value="dancehall">
        <label for="dancehall">Dancehall</label>
      </div>

      <div class="genre-container g14">
        <input type="checkbox" name="genres" id="metal" value="metal">
        <label for="metal">Metal</label>
      </div>

      <div class="genre-container g15">
        <input type="checkbox" name="genres" id="hiphop" value="hiphop">
        <label for="hiphop">Hip-Hop</label>
      </div>

      <div class="genre-container g18">
        <input type="checkbox" name="genres" id="jazz" value="jazz">
        <label for="jazz">Jazz</label>
      </div>

      <div class="genre-container g19">
        <input type="checkbox" name="genres" id="kpop" value="kpop">
        <label for="kpop">K-pop</label>
      </div>

      <div class="genre-container g20">
        <input type="checkbox" name="genres" id="latin" value="latin">
        <label for="latin">Latino</label>
      </div>

      <div class="genre-container g22">
        <input type="checkbox" name="genres" id="pop" value="pop">
        <label for="pop">Pop</label>
      </div>

      <div class="genre-container g23">
        <input type="checkbox" name="genres" id="punk" value="punk">
        <label for="punk">Punk</label>
      </div>

      <div class="genre-container g24">
        <input type="checkbox" name="genres" id="rnb" value="rnb">
        <label for="rnb">RnB</label>
      </div>

      <div class="genre-container g25">
        <input type="checkbox" name="genres" id="reggae" value="reggae">
        <label for="reggae">Reggae</label>
      </div>


      <div class="genre-container g30">
        <input type="checkbox" name="genres" id="soul" value="soul">
        <label for="soul">Soul</label>
      </div>

      <div class="genre-container g31">
        <input type="checkbox" name="genres" id="tango" value="tango">
        <label for="tango">Tango</label>
      </div>
      </div>

    <div class="g-btn-container">
        <button>
          Validate
          <span></span><span></span><span></span><span></span>
        </button>
    </div> 
  </form>


  