<main class="main-genres">
  <div class="genres-container g1">
    <h2>Afrobeat</h2>
  </div>

  <div class="genres-container g2">
    <h2>Blues</h2>
  </div>

  <div class="genres-container g3">
    <h2>Rock</h2>
  </div>

  <div class="genres-container g4">
    <h2>Bossanova</h2>
  </div>

  <div class="genres-container g5">
    <h2>Classical</h2>
  </div>

  <div class="genres-container g6">
    <h2>Country</h2>
  </div>

  <div class="genres-container g7">
    <h2>Dancehall</h2>
  </div>

  <div class="genres-container g8">
    <h2>Deep-House</h2>
  </div>

  <div class="genres-container g9">
    <h2>Disco</h2>
  </div>

  <div class="genres-container g10">
    <h2>Dubstep</h2>
  </div>

  <div class="genres-container g11">
    <h2>electro</h2>
  </div>

  <div class="genres-container g12">
    <h2>funk</h2>
  </div>

  <div class="genres-container g13">
    <h2>gospel</h2>
  </div>

  <div class="genres-container g14">
    <h2>bossanova</h2>
  </div>

  <div class="genres-container g15">
    <h2>metal</h2>
  </div>

  <div class="genres-container g16">
    <h2>hip-hop</h2>
  </div>

  <div class="genres-container g17">
    <h2>house</h2>
  </div>

  <div class="genres-container g18">
    <h2>indie</h2>
  </div>

  <div class="genres-container g19">
    <h2>jazz</h2>
  </div>

  <div class="genres-container g20">
    <h2>k-pop</h2>
  </div>

  <div class="genres-container g21">
    <h2>latino</h2>
  </div>

  <div class="genres-container g22">
    <h2>opera</h2>
  </div>

  <div class="genres-container g23">
    <h2>pop</h2>
  </div>

  <div class="genres-container g24">
    <h2>punk</h2>
  </div>

  <div class="genres-container g25">
    <h2>RnB</h2>
  </div>

  <div class="genres-container g26">
    <h2>reggae</h2>
  </div>

  <div class="genres-container g27">
    <h2>Rock-N-Roll</h2>
  </div>

  <div class="genres-container g28">
    <h2>Salsa</h2>
  </div>

  <div class="genres-container g29">
    <h2>Samba</h2>
  </div>

  <div class="genres-container g30">
    <h2>Ska</h2>
  </div>

  <div class="genres-container g31">
    <h2>Soul</h2>
  </div>

  <div class="genres-container g32">
    <h2>Tango</h2>
  </div>

  <div class="genres-container g33">
    <h2>Techno</h2>
  </div>

</main>

<div class="g-btn-container g34">
  <a href="/homepage">
    <button>
      Validate
      <span></span><span></span><span></span><span></span>
    </button>
  </a>
</div>