<main class="homepage">
  <nav>
    <img class="logo-nav" src="images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/homepage" class="homepage">Homepage</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/profile"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>

  <div class="playlists-container">
    {{#each playlists}}
      <div class="playlist-content">
        <a href="/player/{{id}}">
          <img src="{{images.0.url}}" alt="" />
          <h2>{{name}}</h2>
        </a>
      </div>
    {{/each}}
  </div>
</main>