<section id="homesite">
  <nav>
    <img class="logo-nav" src="images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/signup" class="signup">SignUp</a>
      <a href="/login" class="login">Login</a>
    </div>
  </nav>

  <div class="main">
    <div class="description">
      <h1>Moodzik</h1>
      <p>Moodzik est votre compagnon musical personnalisé, vous permettant
        d'exprimer vos goûts musicaux uniques et d'accéder à des playlists sur
        mesure.
        <span class="description-blue">Avec Moodzik, vous découvrez non
          seulement de la musique qui correspond à votre humeur et à vos
          préférences, mais vous avez aussi le pouvoir de créer votre propre
          album personnalisé.</span>
        <span class="description-red">Plongez dans un monde de musique
          spécialement sélectionné pour vous avec Moodzik.</span>
      </p>
    </div>
  </div>
</section>