<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <img src="images/Moodzik-logo.png" alt="logo Moodzik" />
      <div class="nav-content">
        <a href="/homepage">Homepage</a>
        <a href="">Create an album</a>
        <img src="images/femme.png" alt="profil" />
      </div>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>