<div>
  <form action="/login" method="POST">
    <label>
      Email:
      <input type="text" name="email" required />
    </label>

    <label>
      Password:
      <input
        type="password"
        name="password"
        required
        placeholder="************"
      />
    </label>

    <div class="button">
      <button>Login</button>
    </div>

    <div class="change-link">
      Not a member yet ?
      <a href="/login" class="to_register">Join us</a>
    </div>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>