<main class="player-album">
  <nav>
    <img class="logo-nav" src="/images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/albums" class="homepage">Homepage</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/homepage"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>

  <div class="player-wrapper">
    <div class="music-content">
      <img src="" alt="album cover image" />
      <div class="tracks-wrapper">
        <p class="type">Playlist</p>
      </div>
    </div>
  </div>
</main>