<main class="profile-edit">
  <nav>
    <img class="logo-nav" src="images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/homepage" class="homepage">Homepage</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/profile"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>
  <div>
    <h1>Edit Profile</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" />
  </div>
</main>
