<main class="profile">
  <header class="h-profile">
    <div class="info-profile">
      <div class="pic-container">
        <input
          type="file"
          name="avatar"
          id="avatar"
          accept="image/png, image/jpeg image/jpg"
        />
      </div>
      <section>
        <div class="icons">
          <i class="fa-light fa-pen"></i>
        </div>

        <p><span>Username</span><span></span></p>
        <p><span>Email</span><span></span></p>
        <p><span>Genres</span><span></span></p>
      </section>
    </div>
  </header>
</main>