<main class="profile-edit">
  <nav>
    <img class="logo-nav" src="images/music_logo_2.png" alt="logo Moodzik" />
    <div class="nav-content">
      <a href="/albums" class="albums">Albums</a>
      <a href="/album-new" class="create-album">Create an album</a>
    </div>
    <a href="/homepage"><img
        class="i-profil"
        src="/images/femme.png"
        alt="icône profile"
      /></a>
  </nav>

  <div class="edit-pro">
    <h1>Edit Profile</h1>

    <form action="/profile-edit" method="POST">
      <label>
        Username:

        <input type="text" name="username" value="{{user.username}}" />
      </label>

      <label>
        Email:
        <input type="email" name="email" value="{{user.email}}" />
      </label>

      <button>
        Validate
        <span></span><span></span><span></span><span></span>
      </button>
    </form>
  </div>
</main>