<main class="main-signup">
  

<form action="/signup" method="POST" class="form-signup">
  <label>
    Username:
    <input type="text" name="username" required />
  </label>

  <label>
    Email:
    <input type="text" name="email" required />
  </label>

  <label>
    Password:
    <input type="password" name="password" required placeholder="******" />
  </label>
<div class="btn-signup">
  
  <div class="button">
    <button>Sign up</button>
  </div>

  <div class="change-link">
    Already a member ?
    <a href="/login" class="to_register">Go and log in</a>
  </div>
</div>
</form>
</main>