<main class="main-signup">

  <section class="fs-container">
    <form action="/signup" method="POST" class="form-signup">
      <div class="label-container">
        <label for="username">
          Username:
        </label>
        <input
          type="text"
          name="username"
          id="username"
          required
          placeholder="JohnD"
        />
      </div>

      <div class="label-container">
        <label for="email">
          Email:
        </label>
        <input
          type="text"
          name="email"
          id="email"
          required
          placeholder="johndoe@gmail.com"
        />
      </div>

      <div class="label-container">
        <label for="password">
          Password:
        </label>
        <input
          type="password"
          name="password"
          id="password"
          required
          placeholder="*********"
        />
      </div>
    </form>

    <div class="btn-container">
      <div class="btn-signup">
        <button>
          Sign up
          <span></span><span></span><span></span><span></span>
        </button>
      </div>

      <div class="change-link">
        Already a member ?
        <a href="/login" class="to_login">Go and log in</a>
      </div>
    </div>

    <a href="/" class="link-logo"><img
        class="logo"
        src="/images/music_logo_2.png"
        alt="logo Moodzik"
      /></a>
  </section>
</main>