.main-genres {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.main-genres .genres-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}

.g1,.g7,.g18,.g26 {
    background-color: purple;
}

.g2,.g6,.g23,.g31 {
    background-color: green;
}

.g3,.g19,.g25 {
    background-color: yellow;
}

.g15,.g24,.g33 {
    background-color: red;
}

.g5,.g14,.g20,.g22,.g30  {
    background-color: #5E3C09;
}

.genre-container {
    width: 165px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.genre-container:hover {
    opacity: 0.5;
    /* box-shadow: #5E3C09; */
    /* width: 170px;
    height: 170px; */
    transition: 0.5s all;
}

.genre-container input  {
    display: none;
}

.genre-container input:checked+label {
    background-color: white;
    color: green;
    font-weight: 600;
}

.genre-container input:checked+label::before {
    display: block;
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/done/default/48px.svg");
    background-size: cover;
    width: 24px;
    height: 24px;

}

.genre-container label {
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.g-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.g-btn-container button {
    width: 126px;
    height: 37px;
    border-radius: 10px;
    border: 0.3em solid #5E3C09;
    background-color: transparent;
    /* border: none; */
    color:white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.g-btn-container button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #5E3C09;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.g-btn-container button:hover {
    color: goldenrod;
}

.g-btn-container button:hover span {
    transform: translateY(0) scale(2);
}

.g-btn-container button span:nth-child(1) {
    --n: 1;
}

.g-btn-container button span:nth-child(2) {
    --n: 2;
}

.g-btn-container button span:nth-child(3) {
    --n: 3;
}

.g-btn-container button span:nth-child(4) {
    --n: 4;
}