.main-player {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-player .create-album {
  color: #5e3c09;
  font-weight: bold;
}

.main-player .player-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.music-content {
  display: flex;
  gap: 55px;
  display: flex;
  gap: 55px;
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 50px;
}

.music-content img {
  width: 500px;
  height: 500px;
}

.main-player .tracks-wrapper {
  height: 590px;
}

.tracks-wrapper .type {
  color: #5e3c09;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 0;
}

.tracks-wrapper .owner {
  color: white;
  margin-top: 5px;
}

.main-player .track-list {
  height: 350px;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-player .track-list .song {
  border-radius: 10px;
  width: 580px;
  padding: 5px 0 5px 5px;
}

.main-player .track-list .song h3 {
  font-size: 20px;
  margin: 0;
  color: white;
}

.main-player .track-list .song p {
  margin-top: 2px;
  margin-bottom: 0;
  color: whitesmoke;
}

#playerActions img {
  width: 50px;
  height: 50px;
}
.totalSongs {
  color: white;
}
.playlistName {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #8b4513;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Animation douce lors du survol */
}

.playlistName:hover {
  background-color: #a0522d;
}
#playerInfoAndActions {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.current-track-info {
  color: white;
}

#playerActions {
  display: flex;
  align-items: center;
  gap: 40px;
  color: white;
}
.player-wrapper {
  position: relative;
}
.current-track-info {
  position: absolute;
  bottom: 0;
  left: 40;
}

#player {
  display: none;
}

.buttons {
  display: flex;
  gap: 50px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
  margin-top: 50px;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #8b4513;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progress {
  animation-name: progress;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
