* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #112351;
  }

a {
    text-decoration: none;
  }

input {
    height: 31px;
    width: 217px;
    font-size: 16px;
}

.link-logo {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.logo {
  height: 65px;
    margin-left: auto;
    margin-right: auto;
}